@import url("/style.css");
@import url("/pages home/style.css");

body {
    display: flex;
    align-items: center;
    gap: 5%;
}

body div {
    font-size: 1.5rem;
}

.div-qr-code {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 25px;
    padding: 10px;
    background: rgb(192, 192, 192);
    font-size: 1.5rem;
    transition: 0.3s;
}

.div-qr-code:active {
    transform: scale(0.9);
}

.div-qr-code ion-icon {
    font-size: 1.8rem;
}

#valorPagamento {
    font-size: 1.5rem;
    font-weight: 600;
}